@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppings", sans-serif;
}

body {
    margin-top: 2rem;
    background-image: url("../assets/background.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
}


.btn-aud {      /*BOTÃO*/
    border: 1px solid black;
    border-radius: 3px;
    padding: 6px 6px 6px 6px;
    font-size: .8rem;
    color: #333333;
    cursor: pointer;
}

.btn-aud:active{
    background-color: #b6b6b6;
    color: white;
}

.menu-items{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 3rem;
}

.game-container {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: top;
    flex-direction: column;
    width: 600px;
    height: 800px;
    background-color:  #3f5f2eda;
    border-radius: 20px;
    border: 2px solid black;
}


.title {
    font-family: "Luckiest Guy", Arial, Helvetica, sans-serif;
    color: #1DBEC0;
    text-shadow: 1px 1px white;
    text-transform: uppercase;
    font-size: 4rem;
}


.btn-play{
    color: white;
    border: none;
    background: none;
    font-size: 1.5rem;
    font-weight: 600;
    padding-top: 5px;
    display: flex;
    cursor: pointer;
}

.btn-play:hover{
    background-color:#1DBEC0;
    color: aliceblue;
    box-shadow: 1px 2px white;
    transform: scale(1.1);
    transition: 0.3s ease;
}


.ver{
    padding: 3px;
    background-color: #3f5f2eda;
    margin-top: 10px;
    margin-left: 30rem;
    text-shadow: 1px 1px  rgb(0, 0, 0);
    color: white;
    font-weight: 700;
    font-size: 1rem;
}

img{
    margin-top: 2rem;
    width: 200px;
    height: 200px;
}

img:hover, .symbols:hover{
    transform: scale(1.1);
    transition: 0.4s ease;
}

.tutorial{
    padding-top: 3rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
}
.symbols{
    display: inline;
    font-size: 2rem;
    font-weight: 700;
    border: 1px solid white;
}

.tutorial-btns{
    margin-top: 15px;
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 15px;
}
.outlined{
    padding: 5px;
    font-size: 12px;
}

@media screen and (max-width: 480px) {
    body {
    background-size:contain;
    display: flex; 
    }
.game-container{
    width: 400px;
    height:800px;
}
.title{
    font-size: 3rem;
}
.ver{
    margin-left: 20rem !important;
    bottom: 35px;}
}