@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppings", sans-serif;
}

body {
    background-color:#616161;
    display: flex;
   margin-top: 3rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

#watch{
    display: flex;
    flex-direction: column;
    margin-left:-34rem;
    font-size: .8rem;
}

.game-container {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: top;
    flex-direction: column;
    width: 600px;
    height: 800px;
    background-color: #408bac;
}

canvas {
    background-color: #111111;
    border: 2px solid #eeeeee ;
}

.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
}

.score--value {
    margin: auto !important;;
     padding: 10px 0 1px 0;
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 3.5rem;
    display: block;
    margin-top: 1px;
}
.best-score{
    margin-top: 3px;
}

.menu{
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    text-align: center;
    padding: 1rem;
}

.menu-screen, .menu-pass{
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.menu-pass{
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    text-align: center;
    padding: 1rem;
}

.game-over {
    padding-bottom: 10px;
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
    color: #626262;
    text-shadow: 1px 1px white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3rem;
}

.final-score {
    margin-bottom: 10px;
    text-shadow:1px 1px  rgba(169, 208, 243, 0.342);
    font-weight: 500;
    font-size: 1.4rem;
}

.btn-play{
    text-shadow: 1px 1px rgb(0, 0, 0);
    color: white;
     border: none;
    background: none;
    font-size: 1.5rem;
    font-weight: 600;
    padding-top: 5px;
    display: flex;
    cursor: pointer;
}
.btn-reset{
    text-shadow: 1px 1px rgb(0, 0, 0);
    color: white;
    border: none;
    background: none;
    font-size: 1.5rem;
    font-weight: 600;
    padding-top: 5px;
    display: flex;
    cursor: pointer;
}
.btn-home,.btn-next{
    border: none;
    border-radius: 100px;
    padding: 10px 15px 10px 12px;
    font-size: 1rem;
    font-weight: 600;
    color: #333333;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}
.btn-home-fixed{
    border: none;
    border-radius: 10px;
    padding: 10px 15px 10px 12px;
    font-size: 1rem;
    font-weight: 600;
    color: #333333;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

.btn-play:hover, .btn-home:hover, .btn-home-fixed:hover,.btn-next:hover, .btn-reset:hover{
    background-color:#cacaca;
    color: aliceblue;
    box-shadow: 1px 2px white;
}

a{
    text-decoration: none;
}

.ver{
    position: fixed;
    bottom: 10px;
    margin-left: 30rem;
    display: inline;
    align-items: right;
    justify-content: right;
    color: white;
    font-size: .6rem;
}

img{
    margin-top: 2rem;
    width: 200px;
    height: 200px;
}
.btn-pause{
    position: fixed;
    bottom: 83px;
    margin-left: 32.3rem;
    display: none;
    align-items: right;
    justify-content: right;
    font-size: .6rem;
}

.btn-resume{
    position: fixed;
    bottom: 83px;
    margin-left: 36rem;
    display: none;
    align-items: right;
    justify-content: right;
    font-size: .6rem;
}

.tutorial-btns{
    margin-top: 15px;
     display: none;
     align-items: center;
     justify-content: center;
     gap: 20px;
}

.symbols{
    font-size: 4rem;
    font-weight: 700;
    border: 1px solid white;
}

.symbols:hover{
    background-color: rgba(255, 255, 255, 0.253);
    color: #000000;
    border: 1px solid #000000;
}

.btn-up{
    position: absolute;
    bottom: 12.9rem;

}

.btn-left{
    position: absolute;
    bottom: 8.5rem;
    margin-right: 8rem;
}

.btn-right{
    position: absolute;
    bottom: 8.5rem;
    margin-left: 8rem;
}

.btn-down{
    position: absolute;
    bottom: 4rem;
}

@media screen and (max-width: 480px) {
    canvas {
     width: 400px;
     height: 400px;
      }
  
   .ver{
     margin-left: 21rem !important;
     bottom: 35px;
   }
   .tutorial-btns{
     display: flex !important;
   }
   .game-over{
    font-size: 2rem;
   }
   #watch{
    margin-left: -22rem;
    }
}
 